
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", monospace; 
}

.color-primary {
    color: #4d303f;
}   

.color-secondary {
    color: #fc5a50;
}

.bg-button{
    background-color: #bddfab;
    color: #fff;
    transition: background-color 0.5s ease-in-out;
}

.bg-button:hover{
    background-color: #7bb390;
    color: #111f27;
}
