.order-container {
  max-width: 1440px;
  margin: 0 auto;
}

.order-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
  align-items: flex-start;
  padding: 20px;
}

.order-button {
  padding: 10px 15px;
  border: 2px solid #161518;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-button a {
  text-decoration: none;
} 

.order-button-container{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
  margin: 20px 0px;

}

.order-button-clear{
  background-color: #f21905;
}

.order-button-created{
  background-color: #466437;
}

.order-button-clear, .order-button-created {
  padding: 10px 15px;
  border: 2px solid #161518;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.order-button-unset{
   padding: 10px 15px;
  border: 2px solid #161518;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #EEE;
}

.order-button-register{
   padding: 10px 15px;
  border: 2px solid #161518;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #EEE;
  background-color: #ff7675;
}

.order-section-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  align-items: stretch;
  padding: 20px;
  border: 2px solid #ff7675;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #F8D0AA;
  min-width: 600px;
  min-height: 600px;
  border-radius: 12px;
}

.order-form-user{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.order-input-email{
  border-radius: 8px;
  border: none;
  padding: 10px 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.order-gap-4{
  gap: 1rem;
}

@media (max-width: 768px) {
  .order-layout {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .order-section-container {
    width: 100%;
    min-width: unset;
  }

  .order-button-container{
    justify-content: center;
    align-items: center;
  }
}
